---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Essentials/Hero.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Home'>
	<Hero title="Trisophic Union" image="./TU_Banner_upscaled.png">
		<span><span style="color: blue;">Demo</span>cracy | <span style="color: red;">Techno</span>cracy | <span style="color: gold;">Merito</span>cracy</span>
		<br>---- | <b>Main Menu</b> | ---- <br>Update 1.0.1 - Alexandria's Sapling now works <br> (Gonna treat this site like updaing a game lol)<br>
		Discord: <a href="https://discord.gg/ckZFHEMDxh" style="color: aqua;">https://discord.gg/ckZFHEMDxh</a>
	</Hero>
</Layout>
