---
import "tailwindcss"

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!-- Default layout for all web pages -->

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- Monad is temporary placeholder -->
		<link rel="icon" type="image/svg+xml" href="https://upload.wikimedia.org/wikipedia/commons/d/d0/TechnocracyMonad.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Trisophic Union | {title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;

		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
</style>
